body {
  background-color: lightgrey;
}

div .hexagon {
    background-color: gray; /* Green */
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#discount-button {
  top: 100px;
  left:100px;
}
#localevents-button {
  top: 200px;
  left: 100px;

}
#books-button {
 top: 100px;
 left: 100px;
}
#stressed-button {
  top:200px;
  left:100px;
}

.hexagon {
	width: 100px;
	height: 55px;
	background: green;
	position: relative;
  align-items: center;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid gray;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid gray;
}
