<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Walter+Turncoat" rel="stylesheet">
  <link rel="stylesheet" href="../style/about.css">


</head>
<body>


  <div class="header">
    <a href="/" class="logo">The College Bored</a>
    <div class="header-right">
      <a class="active" href="/login">Sign In</a>
      <a href="/about">About</a>
    </div>
  </div>

  <div class = "text">
    <center><font size="6">Thank you for coming to our site! We are three incoming college freshman<br> who wanted to create
      a tool to help college students specifically in Atlanta.<br> This tool allows college students to find discounts
      ranging from musuems,<br> sports, events, books, technology and different types of shows! Explore <br> our page
      and find somthing to do so you will not be Bored in College!
  </center></font></div>
  <!-- <script src="../scripts/account_home.js"></script> -->
</body>
</html>
