<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Walter+Turncoat" rel="stylesheet">
  <link rel="stylesheet" href="../style/about.css">


</head>
<body>


  <div class="header">
    <a href="/" class="logo">The College Bored</a>
    <div class="header-right">
      <a class="active" href="{{link}}">{{status}}</a>
      <a href="/about">About</a>
    </div>
  </div>
  <div class="bread">
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li>About</li>
    </ul>
  </div>

  <div class = "text">
    <center><font size="6">Thank you for coming to our site! We are three incoming college freshman who wanted to create
      a tool to help rising college students specifically in Atlanta. This tool allows college students to find discounts
      in all things ranging from musuems, sporting events, books, technology and many attractions in the Atlanta area! Explore  our page
      and find somthing to do so you will not be Bored in College!
  </center></font></div>
  <!-- <script src="../scripts/account_home.js"></script> -->
</body>
</html>
