<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Walter+Turncoat" rel="stylesheet">
  <link rel="stylesheet" href="../style/advice.css">

  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet"-->
</head>
<body>
  <!-- <div class="welcome-header">
    <h2>{{home_message}}</h2>
    <a href="{{logout_url}}">Sign out</a>
  </div> -->
  <!-- <div class="buttons">
    <button id="discount-button" class = "buttons">Discount</button>
    <button id="localevents-button"class = "buttons">Local Events</button>
    <button id="books-button"class = "buttons">Books</button>
    <button id="stressed-button"class = "buttons">Stressed</button>
  </div> -->

  <div class="header">
    <a href="/" class="logo">The College Bored</a>
    <div class="header-right">
      <a class="active" href="{{link}}">{{status}}</a>
      <a href="/about">About</a>
    </div>
  </div>
  <div class="bread">
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/books">Books</a></li>
      <li>College Advice</li>
    </ul>
  </div>

<div id = "buttonPanel">
  <a href="/nonfiction"><button id="nonfiction-button" class="hexagon">Nonfiction</button></a>
  <a href = "/fiction"><button id="fiction-button"class = "hexagon">Fiction</button></a>
  <a href = "/advice"><button id="advice-button"class = "hexagon"> College Advice</button></a>
  <a href = "/input"><button id="input-button"class = "hexagon">Suggestions?</button></a>
</div>
<br><br><br><br><br><br><br><br>
<div id="bookTable">
<table>
  <tr>
    <td>
      <h4>How to Win at College</h4>
      <img src="https://images.gr-assets.com/books/1417855862l/253197.jpg">
      <ul style="list-style-type: none">
        <li>Author &ndash; Cal Newport</li>
        <li>Rating &ndash; 4.06</li>
        <li>Description &ndash; The only guide to getting ahead once you’ve gotten in—proven strategies for making the most of your college years, based on winning secrets from the country's most successful students</li>
        <li>Buy now on <a href="https://www.amazon.com/gp/product/0767917871/ref=x_gr_w_bb_sout?ie=UTF8&tag=x_gr_w_bb_sout-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0767917871&SubscriptionId=1MGPYB6YW3HWK55XCGG2">Amazon</a> or at <a href="https://www.barnesandnoble.com/w/how-to-win-at-college-cal-newport/1100623425?ean=9780767917872&st=AFF&2sid=Goodreads,%20Inc_2227948_NA&sourceId=AFFGoodreads,%20Inc#/">Barnes and Noble</a></li>
      </ul>
    </td>
    <td>
      <h4>College Hacks</h4>
      <img src="https://images.gr-assets.com/books/1437790329l/25974232.jpg">
      <ul style="list-style-type: none">
        <li>Author &ndash; Keith Bradford</li>
        <li>Rating &ndash; 3.91</li>
        <li>Description &ndash; Want to ace your next exam? Claim victory as a beer pong champ? Remove that gross stain from your shirt before your interview? College Hacks gives you the tricks and tips you need to get ahead in life without breaking a sweat. Filled with hundreds of ways to simplify nearly every college situation, this guide tells you just what to do when your professor assigns you a twenty-page paper or you run out of clean dishes in your dorm room (chip bag bowl, anyone?). So stop making college harder than it should be! With these everyday hacks, you'll breeze through each semester as you finish assignments and tasks quicker than ever before!</li>
        <li>Buy now on <a href="https://www.amazon.com/gp/product/B0108VCQVQ/ref=x_gr_w_bb_sout?ie=UTF8&tag=x_gr_w_bb_sout-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=B0108VCQVQ&SubscriptionId=1MGPYB6YW3HWK55XCGG2">Amazon</a> or at <a href="https://www.barnesandnoble.com/w/college-hacks-keith-bradford/1121086397?ean=9781440590047#/">Barnes and Noble</a></li>
      </ul>
  </tr>
  <tr>
    <td>
      <h4>The Freshman Survival Guide</h4>
      <img src="https://images.gr-assets.com/books/1296755732l/7947916.jpg">
      <ul style="list-style-type: none">
        <li>Author &ndash; Nora Bradbury-Haehl and Bill McGarvey</li>
        <li>Rating &ndash; 3.44</li>
        <li>Description &ndash; A values-based guide to navigating that critical first year of college that speaks to college students in their own language and offers practical tools that readers need to keep from drinking, sleeping or skipping their way out of college. </li>
        <li>Buy now on <a href="https://www.amazon.com/gp/product/0446560111/ref=x_gr_w_bb_sout?ie=UTF8&tag=x_gr_w_bb_sout-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0446560111&SubscriptionId=1MGPYB6YW3HWK55XCGG2">Amazon</a> or at <a href="https://www.barnesandnoble.com/w/freshman-survival-guide-nora-bradbury-haehl/1100173103?ean=9780446560115&st=AFF&2sid=Goodreads,%20Inc_2227948_NA&sourceId=AFFGoodreads,%20Inc">Barnes and Noble</a></li>
      </ul>
    </td>
    <td>
      <h4>Stuff Every College Student Should Know</h4>
      <img src="https://images.gr-assets.com/books/1381294673l/18142446.jpg">
      <ul style="list-style-type: none">
        <li>Author &ndash; Blair Thornburgh</li>
        <li>Rating &ndash; 3.74</li>
        <li>Description &ndash; From the best-selling series of how-to guides comes Stuff Every College Student Should Know, the ultimate reference for every part of campus life. Packed with tips, tricks, and handy lists, the book gives college kids the lowdown on everything from pulling all-nighters to navigating dorm room drama to actually doing their own laundry. Covering everything from move-in day to graduation, this pocket-size handbook is the perfect gift for high-school seniors . . . because textbooks can teach you only so much.</li>
        <li>Buy now on <a href="https://www.amazon.com/gp/product/1594747105/ref=x_gr_w_bb_sout?ie=UTF8&tag=x_gr_w_bb_sout-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=1594747105&SubscriptionId=1MGPYB6YW3HWK55XCGG2">Amazon</a> or at <a href="https://www.barnesandnoble.com/w/stuff-every-college-student-should-know-blair-thornburgh/1115888908?ean=9781594747106&st=AFF&2sid=Goodreads,%20Inc_2227948_NA&sourceId=AFFGoodreads,%20Inc#/">Barnes and Noble</a></li>
      </ul>
  </tr>
  <tr>
    <td>
      <h4>Now You Tell Me! 12 College Students Give the Best Advice They Never Got: Making a Living; Making a Life</h4>
      <img src="https://images.gr-assets.com/books/1384259654l/12968968.jpg">
      <ul style="list-style-type: none">
        <li>Author &ndash; Sheridan Scott, Anya Settle, and Nancy Allen</li>
        <li>Rating &ndash; 3.67</li>
        <li>Description &ndash; Each year in the U.S., 2.9 million young people graduate from high school, 70 percent of whom are heading for college.  They've read the catalogs, spent months filling out applications, been accepted, chosen a school, shopped for dorm accoutrements and packed up their childhoods.  But then what?  What makes college a great experience?  How do you make the most of what's offered on campus?  How do you make friends?   What should you do when you're homesick, or when your roommate parties 'till all hours?  What are time drains to avoid?  How do you come out ready for the "real world?"  12 college students from all walks of life and different types of colleges and universities share the insider knowledge that isn't in the school catalog: what made it work for them.</li>
        <li>Buy now on <a href="https://www.amazon.com/gp/product/1933608269/ref=x_gr_w_bb_sout?ie=UTF8&tag=x_gr_w_bb_sout-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=1933608269&SubscriptionId=1MGPYB6YW3HWK55XCGG2">Amazon</a> or at <a href="https://www.barnesandnoble.com/w/now-you-tell-me-12-college-students-give-the-best-advice-they-never-got-sheridan-scott/1111743482?ean=9781933608266&st=AFF&2sid=Goodreads,%20Inc_2227948_NA&sourceId=AFFGoodreads,%20Inc">Barnes and Noble</a></li>
      </ul>
    </td>
    <td>
      <h4>Getting from College to Career: 90 Things to Do Before You Join the Real World</h4>
      <img src="https://images.gr-assets.com/books/1388267351l/593497.jpg">
      <ul style="list-style-type: none">
        <li>Author &ndash; Lindsey Pollak</li>
        <li>Rating &ndash; 3.84</li>
        <li>Description &ndash; Getting from College to Career gives you the essential information and guidance you need to get your foot in the door of the real world. Don't start your first job search without it!</li>
        <li>Buy now on <a href="https://www.amazon.com/gp/product/006114259X/ref=x_gr_w_bb?ie=UTF8&tag=httpwwwgoodco-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=006114259X&SubscriptionId=1MGPYB6YW3HWK55XCGG2">Amazon</a> or at <a href="https://www.barnesandnoble.com/w/getting-from-college-to-career-rev-ed-lindsey-pollak/1127640040?ean=9780061142598&st=AFF&2sid=Goodreads,%20Inc_2227948_NA&sourceId=AFFGoodreads,%20Inc">Barnes and Noble</a></li>
      </ul>
  </tr>
</table>
</div>
  <!-- <script src="../scripts/account_home.js"></script> -->
</body>
</html>
