<!DOCTYPE html>
<html>
  <head>
    <title>Attractions</title>
    <link rel="stylesheet" href="../style/sport.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Walter+Turncoat" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <a href="/" class="logo">The College Bored</a>
      <div class="header-right">
        <a class="active" href="{{link}}">{{status}}</a>
        <a href="/about">About</a>
      </div>
    </div>
    <p>Upcoming Events: </p>
    <table>
      <tr>
        <td>
          <h4>Summer Sparkles at World of Coca-Cola</h4>
            <ul style="list-style-type: none">
              <li>Date &ndash; Through Monday, September 3, 2018</li>
              <li>Time &ndash; Starts at 10:00AM</li>
              <li>Location &ndash; World of Coke</li>
              <li>Description &ndash; As Atlanta brings the heat this summer, World of Coca-Cola brings the cool with refreshing moments of fun. From a new exhibit about Sprite Boy – the elfin ambassador of Coca-Cola from the 1940s – to a global tasting experience, the attraction features summertime entertainment for families and friends of all ages.</li>
            </ul>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Winnie the Pooh: Exploring a Classic</h4>
          <ul style="list-style-type: none">
            <li>Date &ndash; Through Sunday, September 2, 2018</li>
            <li>Time &ndash; All Day</li>
            <li>Location &ndash; High Museum of Art</li>
            <li>Description &ndash; Featuring more than 200 works spanning over 90 years of Pooh history, the exhibition will explore the origins, creation and enduring legacy of the classic stories by A.A. Milne (1882–1956) and illustrations by E.H. Shepard (1879–1976) that have captured the hearts of generations of readers.</li>
          </ul>
        </td>
      </tr>
    </table>
  </body>
</html>
