
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Walter+Turncoat" rel="stylesheet">
  <link rel="stylesheet" href="../style/books.css">

  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet"-->
</head>
<body>
  <!-- <div class="welcome-header">
    <h2>{{home_message}}</h2>
    <a href="{{logout_url}}">Sign out</a>
  </div> -->
  <!-- <div class="buttons">
    <button id="discount-button" class = "buttons">Discount</button>
    <button id="localevents-button"class = "buttons">Local Events</button>
    <button id="books-button"class = "buttons">Books</button>
    <button id="stressed-button"class = "buttons">Stressed</button>
  </div> -->

  <div class="header">
    <a href="/" class="logo">The College Bored</a>
    <div class="header-right">
      <a class="active" href="/login">Sign In</a>
      <a href="#about">About</a>
    </div>
  </div>

<div id = "buttonPanel">
  <a href="/nonfiction"><button id="nonfiction-button" class="hexagon">Nonfiction</button></a>
  <a href = "/fiction"><button id="fiction-button"class = "hexagon">Fiction</button></a>
  <a href = "/advice"><button id="advice-button"class = "hexagon">Advice</button></a>
  <a href = "/financial"><button id="financial-button"class = "hexagon">Finances</button></a>
</div>


  <!-- <script src="../scripts/account_home.js"></script> -->
</body>
</html>
