<!DOCTYPE html>
<html>
  <head>
    <title>Comedy Events</title>
    <link rel="stylesheet" href="../style/comedy.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Walter+Turncoat" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <a href="/" class="logo">The College Bored</a>
      <div class="header-right">
        <a class="active" href="{{link}}">{{status}}</a>
        <a href="/about">About</a>
      </div>
    </div>
    <div class="bread">
      <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li>Comedy</li>
      </ul>
    </div>
    <div id="events">
    <p>Upcoming Events: </p>
    <table>
      <tr>
        <td>
          <h4>Views Live with David Dobrik and Jason Nash</h4>
            <ul style="list-style-type: none">
              <li>Date &ndash; Saturday, July 28, 2018</li>
              <li>Time &ndash; Starts at 7:00PM</li>
              <li>Location &ndash; Cobb Energy Performing Arts Centre</li>
              <li>Description &ndash; Fresh off their Shorty Award win for Best Podcast, David Dobrik and Jason Nash perform Views live, with special guests.</li>
            </ul>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Shakespeare on Draught presents: The Tempest</h4>
          <ul style="list-style-type: none">
            <li>Date &ndash; Monday, July 30, 2018</li>
            <li>Time &ndash; Starts at 8:00PM</li>
            <li>Location &ndash; Orpheus Brewing</li>
            <li>Description &ndash; Join Shakespeare on Draught and our host Orpheus Brewing as we get wet and wild on a magical island in our eighth production, THE TEMPEST!</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Black Nerd</h4>
          <ul style="list-style-type: none">
            <li>Date &ndash; Saturday, August 4, 2018</li>
            <li>Time &ndash; Starts at 8:00PM</li>
            <li>Location &ndash; Atlanta</li>
            <li>Description &ndash; This is the story of Marcus and his journey navigating the expectations of his black family and white friends.</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
    <hr width=95% noshade>
    <div id='events'>
    <p>Places in Atlanta related to Comedy</p>
    <table border=0>
      <tr><td>The Basement Theater</td><td>Address: 175 W Wieuca Rd NE, Atlanta, GA 30342</td></tr>
      <tr><td>The Punchline Comedy Club</td><td>Address: 3652 Roswell Rd, Atlanta, GA 30342</td></tr>
      <tr><td>Laughing Skull Lounge</td><td>Address: 878 Peachtree Street Northeast, Atlanta, GA 30309</td></tr>
      <tr><td>Relapse Theater</td><td>Address: 380 14th St NW, Atlanta, GA 30318</td></tr>
      <tr><td>Whole World Improv Theatre Co</td><td>Address: 1216 Spring St NW, Atlanta, GA 30309</td></tr>
      <tr><td>Highwire Comedy Co</td><td>Address: 451 Bishop St NW, Atlanta, GA 30318</td></tr>
    </table>
  </div>
  </body>
</html>
