<!DOCTYPE html>
<html>
  <head>
    <title>Concerts</title>
    <link rel="stylesheet" href="../style/sport.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Walter+Turncoat" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <a href="/" class="logo">The College Bored</a>
      <div class="header-right">
        <a class="active" href="{{link}}">{{status}}</a>
        <a href="#about">About</a>
      </div>
    </div>
    <p>Upcoming Events: </p>
    <table>
      <tr>
        <td>
          <h4>Pentatonix</h4>
            <ul style="list-style-type: none">
              <li>Date &ndash; Tuesday, July 31, 2018</li>
              <li>Time &ndash; Starts at 8:00PM</li>
              <li>Location &ndash; State Bank Amphitheatre at Chastain Park</li>
              <li>Description &ndash; Pentatonix Concert</li>
            </ul>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Vans Warped Tour</h4>
          <ul style="list-style-type: none">
            <li>Date &ndash; Tuesday, July 31, 2018</li>
            <li>Time &ndash; Starts at 7:00PM</li>
            <li>Location &ndash; Cellairis Amphitheatre at Lakewood</li>
            <li>Description &ndash; Vans Warped Tour</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Music Midtown</h4>
          <ul style="list-style-type: none">
            <li>Date &ndash; Saturday, September 15 - Sunday, September 16, 2018</li>
            <li>Time &ndash; All Day</li>
            <li>Location &ndash; Piedmont Park</li>
            <li>Description &ndash; A large music festival held in Atlanta hosting many artists from various genres.</li>
          </ul>
        </td>
      </tr>
    </table>
  </body>
</html>
