<!DOCTYPE html>
<html>
  <head>
    <title>Concerts</title>
    <link rel="stylesheet" href="../style/concert.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Walter+Turncoat" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <a href="/" class="logo">The College Bored</a>
      <div class="header-right">
        <a class="active" href="{{link}}">{{status}}</a>
        <a href="/about">About</a>
      </div>
    </div>
    <div class="bread">
      <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li>Music and Concerts</li>
      </ul>
    </div>
    <div id="events">
    <p>Upcoming Events: </p>
    <table>
      <tr>
        <td>
          <h4>Pentatonix</h4>
            <ul style="list-style-type: none">
              <li>Date &ndash; Tuesday, July 31, 2018</li>
              <li>Time &ndash; Starts at 8:00PM</li>
              <li>Location &ndash; State Bank Amphitheatre at Chastain Park</li>
              <li>Description &ndash; Pentatonix Concert</li>
            </ul>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Vans Warped Tour</h4>
          <ul style="list-style-type: none">
            <li>Date &ndash; Tuesday, July 31, 2018</li>
            <li>Time &ndash; Starts at 7:00PM</li>
            <li>Location &ndash; Cellairis Amphitheatre at Lakewood</li>
            <li>Description &ndash; Vans Warped Tour</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Music Midtown</h4>
          <ul style="list-style-type: none">
            <li>Date &ndash; Saturday, September 15 - Sunday, September 16, 2018</li>
            <li>Time &ndash; All Day</li>
            <li>Location &ndash; Piedmont Park</li>
            <li>Description &ndash; A large music festival held in Atlanta hosting many artists from various genres.</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
    <hr width=95% noshade>
    <div id='events'>
    <p>Places in Atlanta related to Concerts</p>
    <table border=0>
      <tr><td>Lakewood Amphitheatre</td><td>Address: 2002 Lakewood Way SW, Atlanta, GA 30315</td></tr>
      <tr><td>Terminal West</td><td>Address: 887 West Marietta St NW C, Atlanta, GA 30318</td></tr>
      <tr><td>Under the Couch</td><td>Address: 350 Ferst Dr NW, Atlanta, GA 30313</td></tr>
      <tr><td>Tabernacle</td><td>Address: 152 Luckie St NW, Atlanta, GA 30303</td></tr>
      <tr><td>State Bank Amphitheatre at Chastain Park</td><td>Address: 4469 Stella Dr NW, Atlanta, GA 30342</td></tr>
      <tr><td>Variety Playhouse</td><td>Address: 1099 Euclid Ave NE, Atlanta, GA 30307</td></tr>
    </table>
  </div>
  </body>
</html>
