  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Walter+Turncoat" rel="stylesheet">
      <link rel="stylesheet" href="../style/discounts.css">
      <title>Discount Finder</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <body>
      <div class="w3-container">
      <h1><center>Discount Finder</center><h1>
        <div id = "buttonPanel">
          <button id="museums-button" class="hexagon">Museums</button>
        
          <button id="technology-button"class = "hexagon">Technology</button>

          <!-- <button id="theather-button"class = "hexagon">Theather</button> -->

        </div>


    <input type="text" placeholder="Search..">
  <!-- </div> -->

  </html>
