  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Walter+Turncoat" rel="stylesheet">
      <link rel="stylesheet" href="../style/discounts.css">
      <title>Discount Finder</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
      <body>
        <div class="header">
          <a href="/" class="logo">The College Bored</a>
          <div class="header-right">
            <a class="active" href="/login">Sign In</a>
            <a href="/about">About</a>
          </div>
        </div>
      <div class="w3-container">
        <div id = "buttonPanel">
          <a href="/museums"><button id="museums-button" class="hexagon">Museums</button></a>
          <a href="/technology"><button id="technology-button"class="hexagon">Technology</button></a>
        </div>

  </html>
