  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Walter+Turncoat" rel="stylesheet">
      <link rel="stylesheet" href="../style/discounts.css">
      <title>Discount Finder</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <body>
      <div class="w3-container">
        <div class="header">
          <a href="/" class="logo">The College Bored</a>
          <div class="header-right">
            <a class="active" href="/login">Sign In</a>
            <a href="#about">About</a>
          </div>
        </div>
        <div id = "buttonPanel">
          <button id="museums-button" class="hexagon">Museums</button>
          <button id="movies-button"class = "hexagon">Movies</button>
          <button id="technology-button"class = "hexagon">Technology</button>
          <button id="dorm-button"class = "hexagon">Dorm Supplies</button>
          <!-- <button id="theather-button"class = "hexagon">Theather</button> -->

        </div>



    <input type="text" placeholder="Search..">
  <!-- </div> -->

  </html>
