<!DOCTYPE html>
<html>
  <head>
    <title>Events</title>
    <link rel="stylesheet" href="../style/events.css">
  </head>
  <body>
    <h1>Events in the city</h1>
    <p>City-wide Events</p>
    <div class="photos">
      <img class="first" src="https://www.myajc.com/rf/image_medium/Pub/Web/AJC/Special%20Contents/Links/Images/jones_julio_falcons.jpg">
      <img src="https://cdn.bleacherreport.net/images/team_logos/328x328/atlanta_braves.png">
      <img src="https://league-mp7static.mlsdigital.net/styles/image_landscape/s3/images/USATSI_10955237.jpg?Ld_PfKXtzgvJz3PAWosNEw3.8eOeU0Ks&itok=MPTFV4gb&c=9f6be46c436b39521fde4c4a1e38dda4">
      <img src="http://www.exploregeorgia.org/master/img/blog/2016/05/centennial.jpg">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Stone_Mountain%2C_the_carving%2C_and_the_Train.jpeg/1200px-Stone_Mountain%2C_the_carving%2C_and_the_Train.jpeg">
      <img src="https://res.cloudinary.com/simpleview/image/upload/w_485,h_300,c_fill/crm/atlanta/J0041036_420c99aa-5056-b3a8-49ff14d8df8d68c0.jpg">
      <img src="http://cenblog.org/_img/NOBCChE-Atlanta-0011.jpg">
    </div>
    <p>College-Specific Events</p>
    <p>College 1</p>
    <div class="photos">
      <img class="first" src="https://www.myajc.com/rf/image_medium/Pub/Web/AJC/Special%20Contents/Links/Images/jones_julio_falcons.jpg">
      <img src="https://cdn.bleacherreport.net/images/team_logos/328x328/atlanta_braves.png">
      <img src="https://league-mp7static.mlsdigital.net/styles/image_landscape/s3/images/USATSI_10955237.jpg?Ld_PfKXtzgvJz3PAWosNEw3.8eOeU0Ks&itok=MPTFV4gb&c=9f6be46c436b39521fde4c4a1e38dda4">
      <img src="http://www.exploregeorgia.org/master/img/blog/2016/05/centennial.jpg">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Stone_Mountain%2C_the_carving%2C_and_the_Train.jpeg/1200px-Stone_Mountain%2C_the_carving%2C_and_the_Train.jpeg">
      <img src="https://res.cloudinary.com/simpleview/image/upload/w_485,h_300,c_fill/crm/atlanta/J0041036_420c99aa-5056-b3a8-49ff14d8df8d68c0.jpg">
      <img src="http://cenblog.org/_img/NOBCChE-Atlanta-0011.jpg">
    </div>
  </body>
</html>
