<!DOCTYPE html>
<html>
  <head>
    <title>Festivals</title>
    <link rel="stylesheet" href="../style/festival.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Walter+Turncoat" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <a href="/" class="logo">The College Bored</a>
      <div class="header-right">
        <a class="active" href="{{link}}">{{status}}</a>
        <a href="/about">About</a>
      </div>
    </div>
    <div class="bread">
      <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li>Festivals</li>
      </ul>
    </div>
    <div id="events">
    <p>Upcoming Events: </p>
    <table>
      <tr>
        <td>
          <h4>Atlanta Ice Cream Festival</h4>
            <ul style="list-style-type: none">
              <li>Date &ndash; Saturday, July 28, 2018</li>
              <li>Time &ndash; All Day</li>
              <li>Location &ndash; Piedmont Park</li>
              <li>Description &ndash; Join us in Piedmont Park this summer to cool off with the 8th Annual Ice Cream Festival.</li>
            </ul>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Atlanta African Dance and Drum Festival</h4>
          <ul style="list-style-type: none">
            <li>Date &ndash; Friday, July 27 - Sunday, July 29, 2018</li>
            <li>Time &ndash; Starts at 4:00PM</li>
            <li>Location &ndash; Sylvan Hills Middle School</li>
            <li>Description &ndash; In its continued effort to promote the art, culture and traditions of Africa, the Afrikan Djeli Cultural Institute is pleased to present the Atlanta African Dance & Drum Festival, which features a diverse range of music and movement workshops, an African inspired craft market, food vendors, Kid’s Camp and finale concert. </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <h4>PeachFest</h4>
          <ul style="list-style-type: none">
            <li>Date &ndash; Sunday, July 29, 2018</li>
            <li>Time &ndash; Starts at 4:00PM</li>
            <li>Location &ndash; FlatironCity</li>
            <li>Description &ndash; Feast on peach-inspired dishes ranging from paleo to pizza, ethically sourced proteins, responsibly raised heritage breed pigs and a variety of beverages from local craft breweries, distilleries and wineries.</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
    <hr width=95% noshade>
    <div id='events'>
    <p>Places in Atlanta related to Festivals</p>
    <table border=0>
      <tr><td>Piedmont Park</td><td>Address: 400 Park Dr NE, Atlanta, GA 30306</td></tr>
      <tr><td>Centennial Olympic Park</td><td>Address: 265 Park Avenue West, Atlanta, GA 30313</td></tr>
      <tr><td>Flatiron City</td><td>Address: 84 Peachtree St NW, Atlanta, GA 30303</td></tr>
    </table>
  </div>
  </body>
</html>
