<!DOCTYPE html>
<html>
  <head>
    <title>Dining</title>
    <link rel="stylesheet" href="../style/food.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Walter+Turncoat" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <a href="/" class="logo">The College Bored</a>
      <div class="header-right">
        <a class="active" href="{{link}}">{{status}}</a>
        <a href="/about">About</a>
      </div>
    </div>
    <div class="bread">
      <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li>Dining</li>
      </ul>
    </div>
    <div id="events">
    <p>Upcoming Events: </p>
    <table>
      <tr>
        <td>
          <h4>Tillamook Pop Up at Brother Moto</h4>
            <ul style="list-style-type: none">
              <li>Date &ndash; Sunday, July 29, 2018</li>
              <li>Time &ndash; Starts at 11:00AM</li>
              <li>Location &ndash; Brother Moto</li>
              <li>Description &ndash; Stop by Atlanta's DIY motorcycle garage and coveted coffee shop to enjoy FREE grilled cheese bites from the Tillamook Road Trip Tour bus along with free gear. </li>
            </ul>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Bellina Alimentari Pizza Party</h4>
          <ul style="list-style-type: none">
            <li>Date &ndash; Tuesday, July 31, 2018</li>
            <li>Time &ndash; Starts at 6:30PM</li>
            <li>Location &ndash; Bellina Alimentari</li>
            <li>Description &ndash; A fun and interactive class featuring Aperol Spritz and authentic Italian-style pizza!</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
    <hr width=95% noshade>
    <div id='events'>
    <p>Places in Atlanta related to Dining</p>
    <table border=0>
      <tr><td>Buttermilk Kitchen</td><td>Address: 4225 Roswell Rd NE, Atlanta, GA 30342</td></tr>
      <tr><td>Aviva by Kameel</td><td>Address: 225 Peachtree St NE, Atlanta, GA 30303</td></tr>
      <tr><td>South City Kitchen Midtown</td><td>Address: 1144 Crescent Ave NE, Atlanta, GA 30309</td></tr>
      <tr><td>Wisteria</td><td>Address: 471 North Highland Avenue Northeast, Atlanta, GA 30307</td></tr>
      <tr><td>Folk Art Restaurant</td><td>Address: 465 North Highland Avenue Northeast, Atlanta, GA 30307</td></tr>
      <tr><td>Embilta Cafe and Restaurant</td><td>Address: 2100 Cheshire Bridge Rd NE, Atlanta, GA 30324</td></tr>
    </table>
  </div>
  </body>
</html>
