<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Walter+Turncoat" rel="stylesheet">
    <link rel="stylesheet" href="../style/laptop.css">
    <title>Discount Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <body>
      
    <div class="w3-container">
    <h1><center>Technolgy Discount Finder</center><h1>


<table id="customers">
  <tr>
    <th>Apple</th>


  </tr>
  <tr>
    <td valign="top"> <font size="3">Get up to 10% off + Beats wireless headphones when you buy a Mac or iPad Pro.</font>
<a href="https://www.apple.com/us-hed/shop/back-to-school?afid=p238%7CsluRwONwG-dc_mtid_1870765e38482_pcrid_282031410626_&cid=aos-us-kwgo-edu--slid--product-"><img src="https://images.vexels.com/media/users/3/139567/isolated/preview/582aca4000ab46231333a1df893c947e-apple-logo-by-vexels.png"height="150" width="150" >
</a></td>
  </tr>
</table>
<style>

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 25%;
    display: inline-block;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #8A2BE2;
    color: white;
}
</style>
</head>
<body>
<table valign="top" id="customers">
  <tr>
    <th>Logitech</th>


  </tr>
  <tr>
    <td><font size="3">Get 25% discount when shop online</font>

      <a href="https://www.logitech.com/en-us/promo/student-discount.html">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/logitech-5-logo-png-transparent.png"height="200" width="200" >
</a></td>
  </tr>
</table>

</body>
<body>
<table valign="top" id="customers">
  <tr>
    <th>Adobe</th>

  </tr>
  <tr>
    <td><font size="3">Products have a discount of 60% on Creative Cloud All App which has 20 more apps</fontx>
<a href="https://www.adobe.com/creativecloud/buy/students.html"><img src="https://upload.wikimedia.org/wikipedia/commons/7/7b/Adobe_Systems_logo_and_wordmark.svg"height="143" width="143" >
</a></td>
  </tr>
</table>
<body>
<table id="customers">
  <tr>
    <th>Dell</th>


  </tr>
  <tr>
    <td><font size="3">The normal student discount is 2 percent off the regular price of a computer.</font>
<a href="https://www.dell.com/en-us/learn/purchaseprogram/university"><img src="https://s3.amazonaws.com/freebiesupply/large/2x/dell-logo-transparent.png"height="200" width="200" >
</a></td>
  </tr>
</table>

<body>
<table valign="top" id="customers">
  <tr>
    <th>Norton</th>


  </tr>
  <tr>
    <td><font size="3">You can get $35 off the basic package or the standard package and get $50 off</font>
  <a href="https://us.norton.com/student-discount/"> <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Norton_av_logo.png"height="195" width="195" >
</a></td>
  </tr>
</table>
<body>
<table valign="top" id="customers">
  <tr>
    <th>HP</th>


  </tr>
  <tr>
    <td><font size="3">Students save up to 20 percent on HP products and get free shipping.</font>
  <a href="https://store.hp.com/UKStore/Merch/Registration.aspx?tab=epps&act=landing"><img src="https://vignette.wikia.nocookie.net/theideas/images/a/af/HP_logo_2012.png/revision/20180130172427"height="195" width="195" >
</a></td>
  </tr>
</table>

<body>
<table valign="top" id="customers">
  <tr>
    <th>Microsoft</th>


  </tr>
  <tr>
    <td><font size="3">Microsoft: Students get 10% off, with other deals offered year-round.</font>
  <a href="https://www.microsoft.com/en-US/store/b/education?icid=en-us-deals-page_CP_Nav6_studentdeals&invsrc=search&cl_vend=google&cl_ch=sem&cl_camp=893613028&cl_adg=46247091722&cl_crtv=282278072815&cl_kw=microsoft%20student%20discount&cl_pub=google.com&cl_place=&cl_dvt=c&cl_pos=1t1&cl_mt=e&cl_gtid=kwd-299132865822&cl_pltr=&cl_dim0=W0OgqQAAAL2p6wu9:20180726133908:s&OCID=AID695932_SEM_W0OgqQAAAL2p6wu9:20180726133908:s&s_kwcid=AL!4249!3!282278072815!e!!g!!microsoft%20student%20discount&ef_id=W0OgqQAAAL2p6wu9:20180726133908:s"><img src="http://pngimg.com/uploads/microsoft/microsoft_PNG16.png"height="150" width="150" >
</a></td>
  </tr>
</table>
<body>
<table valign="top" id="customers">
  <tr>
    <th>Lenovo</th>


  </tr>
  <tr>
    <td><font size="3"> Students will find deals such as 15% off any ThinkPad or 10% off IdeaPad laptop</font>
  <a href="https://www.lenovo.com/us/en/landingpage/students-and-teachers/?cid=us:sem|se|google|kw_58|Student_Discounts|IIP_NE_Lenovo_Student&s_kwcid=AL!4030!3!284183241094!e!!g!!lenovo%20student%20discount&ef_id=W0OgqQAAAL2p6wu9:20180726134041:s"><img src="https://www.windowscentral.com/sites/wpcentral.com/files/topic_images/2016/lenovo-logo-topic.png"height="170" width="170" >
</a></td>
  </tr>
</table>
<body>
<table valign="top" id="customers">
  <tr>
    <th>Sony</th>


  </tr>
  <tr>
    <td><font size="3"> Check out the Sony Education Store for up to 10% off special pricing for college students</font>
    <a href="https://store.sony.com.au/education.html"><img src="http://pngimg.com/uploads/sony_logo/sony_logo_PNG7.png"height="150" width="150" >
</a></td>
  </tr>
</table>
</html>
