<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Walter+Turncoat" rel="stylesheet">
    <link rel="stylesheet" href="../style/laptop.css">
    <title>Discount Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <body>
    <div class="w3-container">
    <h1><center>Technolgy Discount Finder</center><h1>

<table id="customers">
  <tr>
    <th>Apple</th>


  </tr>
  <tr>
    <td valign="top"> <font size="3">Get up to 10% off + Beats wireless headphones when you buy a Mac or iPad Pro.</font>
<img src="https://images.vexels.com/media/users/3/139567/isolated/preview/582aca4000ab46231333a1df893c947e-apple-logo-by-vexels.png"height="150" width="150" >
</td>
  </tr>
</table>
<style>

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 25%;
    display: inline-block;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>
<table valign="top" id="customers">
  <tr>
    <th>Logitech</th>


  </tr>
  <tr>
    <td><font size="3">Get 25% discount when shop online</font>

<img src="https://cdn.freebiesupply.com/logos/large/2x/logitech-5-logo-png-transparent.png"height="200" width="200" >
</td>
  </tr>
</table>

</body>
<body>
<table valign="top" id="customers">
  <tr>
    <th>Adobe</th>

  </tr>
  <tr>
    <td><font size="3">Products have a discount of 60% on Creative Cloud All App which has 20 more apps</fontx>
<img src="https://upload.wikimedia.org/wikipedia/commons/7/7b/Adobe_Systems_logo_and_wordmark.svg"height="143" width="143" >
</td>
  </tr>
</table>
<body>
<table id="customers">
  <tr>
    <th>Dell</th>


  </tr>
  <tr>
    <td><font size="3">The normal student discount is 2 percent off the regular price of a computer.</font>
<img src="https://s3.amazonaws.com/freebiesupply/large/2x/dell-logo-transparent.png"height="200" width="200" >
</td>
  </tr>
</table>

<body>
<table valign="top" id="customers">
  <tr>
    <th>Norton</th>


  </tr>
  <tr>
    <td><font size="3">You can get $35 off the basic package or the standard package and get $50 off</font>
  <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Norton_av_logo.png"height="195" width="195" >
</td>
  </tr>
</table>
<body>
<table valign="top" id="customers">
  <tr>
    <th>HP</th>


  </tr>
  <tr>
    <td><font size="3">Students save up to 20 percent on HP products and get free shipping.</font>
  <img src="https://vignette.wikia.nocookie.net/theideas/images/a/af/HP_logo_2012.png/revision/20180130172427"height="195" width="195" >
</td>
  </tr>
</table>

<body>
<table valign="top" id="customers">
  <tr>
    <th>Microsoft</th>


  </tr>
  <tr>
    <td><font size="3">Microsoft: Students get 10% off, with other deals offered year-round.</font>
  <img src="http://pngimg.com/uploads/microsoft/microsoft_PNG16.png"height="150" width="150" >
</td>
  </tr>
</table>
<body>
<table valign="top" id="customers">
  <tr>
    <th>Lenovo</th>


  </tr>
  <tr>
    <td><font size="3"> Students will find deals such as 15% off any ThinkPad or 10% off IdeaPad laptop</font>
  <img src="https://www.windowscentral.com/sites/wpcentral.com/files/topic_images/2016/lenovo-logo-topic.png"height="170" width="170" >
</td>
  </tr>
</table>
<body>
<table valign="top" id="customers">
  <tr>
    <th>Sony</th>


  </tr>
  <tr>
    <td><font size="3"> Check out the Sony Education Store for up to 10% off special pricing for college students</font>
  <img src="http://pngimg.com/uploads/sony_logo/sony_logo_PNG7.png"height="150" width="150" >
</td>
  </tr>
</table>
</html>
