<!DOCTYPE html>
<html>
  <head>
    <title>Sporting Events</title>
    <link rel="stylesheet" href="../style/sport.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Walter+Turncoat" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <a href="/" class="logo">The College Bored</a>
      <div class="header-right">
        <a class="active" href="{{link}}">{{status}}</a>
        <a href="/about">About</a>
      </div>
    </div>
    <div class="bread">
      <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li>Sporting Events</li>
      </ul>
    </div>
    <p>Upcoming Events: </p>
    <table>
      <tr>
        <td>
          <h4>Major League Baseball: Atlanta Braves vs Los Angeles Dodgers</h4>
            <ul style="list-style-type: none">
              <li>Date &ndash; Friday, July 27, 2018</li>
              <li>Time &ndash; Starts at 7:35PM</li>
              <li>Location &ndash; Suntrust Park</li>
              <li>Description &ndash; Cheer on the Atlanta Braves against the Los Angeles Dodgers!</li>
            </ul>
        </td>
      </tr>
      <tr>
        <td>
          <h4>BB&amp;T Atlanta Open</h4>
          <ul style="list-style-type: none">
            <li>Date &ndash; Through Sunday, July 29, 2018</li>
            <li>Time &ndash; Starts at 10:00AM</li>
            <li>Location &ndash; Atlantic Station</li>
            <li>Description &ndash; Atlanta is the first event in the seven-tournament series leading up the US Open. 2018 will be the fifteenth year of the series.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Major League Soccer: 2018 All Star Week</h4>
          <ul style="list-style-type: none">
            <li>Date &ndash; Saturday, July 28 - Wednesday, August 1, 2018</li>
            <li>Time &ndash; All Day</li>
            <li>Location &ndash; Atlanta</li>
            <li>Description &ndash; Get ready for an MLS All-Star week like no other, with the city of Atlanta as our playground.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Juventus Open Training</h4>
          <ul style="list-style-type: none">
            <li>Date &ndash; Monday, July 31, 2018</li>
            <li>Time &ndash; Starts at 10:00AM</li>
            <li>Location &ndash; Mercedes-Benz Stadium</li>
            <li>Description &ndash; Watch both Juventus and the MLS All Stars train ahead of their big match.</li>
          </ul>
        </td>
      </tr>
    </table>
    <p>USE PYTHON TO DO A PLACES NEARBY VS PLACES NEAR YOU</p>
  </body>
</html>
