<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Walter+Turncoat" rel="stylesheet">
    <link rel="stylesheet" href="../style/technology.css">
    <title>Discount Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <body>
      <div class="header">
        <a href="/" class="logo">The College Bored</a>
        <div class="header-right">
          <a class="active" href="{{link}}">{{status}}</a>
          <a href="#about">About</a>
        </div>
      </div>
    <div class="w3-container">
    <h1><center>Technology Discounts</center><h1>
      <div id = "buttonPanel">
        <button id="phones-button" class="hexagon">Online/In Store Shopping</button>
        <button id="laptop-button"class = "hexagon">Laptop/ Technology Help</button>

      </div>

</html>
