<!DOCTYPE html>
<html>
  <head>
    <title>Theaters</title>
    <link rel="stylesheet" href="../style/sport.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Walter+Turncoat" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <a href="/" class="logo">The College Bored</a>
      <div class="header-right">
        <a class="active" href="{{link}}">{{status}}</a>
        <a href="/about">About</a>
      </div>
    </div>
    <p>Upcoming Events: </p>
    <table>
      <tr>
        <td>
          <h4>Hairspray</h4>
            <ul style="list-style-type: none">
              <li>Date &ndash; Through Sunday, August 5, 2018</li>
              <li>Time &ndash; Starts at 7:30PM</li>
              <li>Location &ndash; The Legacy Theatre</li>
              <li>Description &ndash; The 1950s are out, and change is in the air! Hairspray, is a family-friendly musical, piled bouffant-high with laughter, romance and deliriously tuneful songs.</li>
            </ul>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Titanic the Musical</h4>
          <ul style="list-style-type: none">
            <li>Date &ndash; Through Sunday, August 12, 2018</li>
            <li>Time &ndash; Starts at 8:00PM</li>
            <li>Location &ndash; Inn at Serenbe</li>
            <li>Description &ndash; To find a better life, we must get on that ship… board our ship of dreams this summer as we mount a larger than life floating world full of magical impossibilities.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <h4>How Black Mothers Say I Love You</h4>
          <ul style="list-style-type: none">
            <li>Date &ndash; Through Sunday, August 19, 2018</li>
            <li>Time &ndash; Starts at 8:00PM</li>
            <li>Location &ndash; Horizon Theatre Company</li>
            <li>Description &ndash; From the creator of the popular ‘da Kink in my Hair comes a powerful and touching tale of immigration, family, and sacrifice. Hard-working Daphne left her two young daughters in Jamaica for six years to create a better life for them in America. Now thirty years later, proud and private, Daphne is relying on church and her nearby dutiful daughter to face a health crisis. But when feisty activist Claudette arrives unexpectedly from far away to help out, her arrival stirs up the buried past, family ghosts and the burning desire for unconditional love before it’s too late.</li>
          </ul>
        </td>
      </tr>
    </table>
  </body>
</html>
